.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 8%;
    padding-top: 15%;
    margin: 10%;
    border: none;
    border-radius: 5%;
    background: rgb(69, 58, 180);
    background: linear-gradient(354deg,
            rgba(69, 58, 180, 1) 0%,
            rgba(253, 29, 126, 0.8814119397759104) 50%,
            rgba(252, 176, 69, 1) 100%,
            rgba(252, 176, 69, 1) 115%);

    color: rgb(252, 240, 255);
}

h1 {
    font-size: 200px;
    position: relative;
    left: 15%;
}

ul {
    list-style: none;
    font-size: 15px;
}

.unit {
    font-size: 30px;
    position: absolute;
    left: 63%;
    bottom: 68%;
}

#time {
    position: relative;
    font-size: 20px;
    text-align: center;
    margin-right: 20px;
    margin-top: -35%;
}

#icon {
    position: relative;
    left: 35%;
}

#place {
    font-size: 70px;
    position: relative;
    align-items: stretch;
    left: 20%;
}

form {
    position: relative;
    left: 10%;
}

.sbutton {
    color: rgb(69, 58, 180);
    background-color: white;
    border: none;
    padding: 3px;
}

.geobtn {
    background-color: rgb(69, 58, 180);
    color: white;
    border: none;
    padding: 10px;
    position: relative;
    left: 30%;
}

.geobtn:hover {
    background-color: white;
    color: rgb(69, 58, 180);
}

.git{ text-align: center;
    color:white;


}